@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,600,800|Roboto);
/* line 5, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../../components/sass/_base.scss */
body {
  font: 200 1em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #FFFFFF;
  color: #000000;
}

/* line 8, ../../../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font: 200 2em/1.5em "Exo 2", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4cbfe7;
  font-weight: 600;
}

/* line 14, ../../../components/sass/_base.scss */
strong {
  font-weight: 600;
}

/* line 18, ../../../components/sass/_base.scss */
p {
  font-weight: 200;
  padding-bottom: 10px;
}

/* line 23, ../../../components/sass/_base.scss */
mark {
  background: orange;
  color: black;
}

/* line 28, ../../../components/sass/_base.scss */
.pointer {
  cursor: pointer;
}

/* line 1, ../../../components/sass/_modules.scss */
#container {
  max-width: 768px;
}

/* line 5, ../../../components/sass/_modules.scss */
#commentbox {
  margin: 10px 20px 50px;
}
/* line 7, ../../../components/sass/_modules.scss */
#commentbox .mainPanel {
  margin-bottom: 15px;
}

/* line 12, ../../../components/sass/_modules.scss */
#commentslist {
  min-height: 400px;
  -moz-box-shadow: 0 7px 26px #ccc;
  -webkit-box-shadow: 0 7px 26px #ccc;
  box-shadow: 0 7px 26px #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 19, ../../../components/sass/_modules.scss */
.comment {
  padding: 10px 20px;
}
/* line 23, ../../../components/sass/_modules.scss */
.comment:hover {
  background-color: #f9f9f9;
}
/* line 26, ../../../components/sass/_modules.scss */
.comment .username {
  color: #188cb5;
}
/* line 29, ../../../components/sass/_modules.scss */
.comment .date {
  font-size: 0.8em;
  font-style: italic;
}
/* line 33, ../../../components/sass/_modules.scss */
.comment .text {
  color: #4d4d4d;
  font: 400 0.9em/1.2em "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 10px;
  margin-top: 5px;
}
